body{
    background-color: rgb(24, 19, 19) ;
    color: rgb(141, 140, 140);
     
    }
image#bobmarley{
    position: absolute;
    margin-top : 50px;
    
    width: 70%;
    height: 20%;
}
#albumpage{
    margin-left: 16.6%;
    height: 120vh;
    /* height: 950px !important; */
    /* width: 100vh !important; */
    position: relative;
    background-color: rgb(24, 19, 19);
}

#albumpage p {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    
}
#albumpage table{
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: transparent;
}

/*Sidebar
---------->*/
div.sidebar-top{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.sidebar-top-text{
    
    display: flex;
    flex-direction: row;
    
    color:rgb(141, 140, 140);
}

.sidebar-top-text .sidebar-top-icons{
    margin-right: 1rem;
    color: rgb(75, 75, 75);
}
img#logo{
    margin-bottom: 2rem;
    width: 70%;
    height: 20%;
}