/* MEDIA QUERIES
---------------->*/









.sidebar-top-text:hover{
    color: white !important;
    cursor: pointer;
}

.sidebar-top-text:focus{
    background-color: red;
}




/* Navbar Hover*/

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #00ff73;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:active:before,
  .hvr-underline-from-center:focus:before,
  .hvr-underline-from-center:hover:before {
    left: 0;
    right: 0;
  }

  /*Artist Page Header Buttons*/

  #artistpage .artist-top-image-buttons button:nth-of-type(1):hover,
  #artistpage .artist-top-image-buttons button:nth-of-type(2):hover{
    opacity: 80%;
    font-size: 1.1rem;
  }

  #artistpage .artist-top-image-buttons button:nth-of-type(3):active{
    background: none;
    border:none;
    color:white;
    
  }
  .dropdown button:hover{
    background-color: rgb(31, 30, 30);
    color: whitesmoke;
  }
  .dropdown-menu a:hover{
    background-color: rgb(88, 88, 88);
    opacity: 100%;
    color: white;
  }
 
  .dropdown button:active{
    outline: none;
    border: none;
  }
  button:focus {outline:0;}
  /* ALBUM CARDS
  --------------->*/

  .card:hover .round-button{
    display: block;
    
  }
  
  .round-button:hover{
    opacity: 90%;
    color:white;
    box-shadow: 0px 0px 10px #55cf80;
    text-shadow: 0px 0px 10px #1DB954;
  }

  .card img:hover{
    cursor: pointer;
    width: 104%;
    box-shadow: 0px 0px 20px #049135;
    text-shadow: 0px 0px 10px #144225;
  }

  #likeBtn:hover{
    font-size: larger;
    cursor: pointer;
  }
  #likeBtn:active{
    background-color: green;
  }

  /*Playlist icons*/

  #sidebar .create-playlist:hover{
    color: whitesmoke;
    cursor: pointer;
    
  }

  #sidebar .create-playlist:hover .create-icon,.create-icon2{
    opacity: 50%;
    
  }

  #playlist-name:focus{
    background-color: #55cf80;
  }

  .add-playlist li:hover{
    color:whitesmoke;
    cursor: pointer;
  }

  /*AlbumSongs*/

  .table tr:hover{
    background-color: rgb(39, 33, 33);
    box-shadow: 0px 0px 5px #049135;
    cursor: pointer;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:rgb(160, 160, 160); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}