/* GLOBAL 
------------------>*/

body{
    background-color: rgb(9, 65, 87); 
    z-index: 0;
    font-family: "Circular";
    
    
}

section.page{
    display: none;
}

section.page.displayShow{
    display: block;
    overflow: hidden;
}

/* Page Structure
------------------>*/
#sidebar{
    position: fixed; 
    height: 90vh;
    background-color: #050505;
    z-index: 1;
}

#mainpage{
    margin-left: 16.6%;
    width: 90vh;
    position: relative;
    background-color: rgb(9, 65, 87);
}

#mainpage::before {
    content: "";
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(65,65,65);
    background: linear-gradient(132deg, rgba(65,65,65,0) 0%, rgba(4,4,4,0.2858018207282913) 36%, rgba(0,0,0,0.8936449579831933) 100%);
}

#player{
    width: 100vw;
    height: 10%;
    background-color:#282828;
}

/*Sidebar
---------->*/
div.sidebar-top{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.sidebar-top-text{
    
    display: flex;
    flex-direction: row;
    
    color:rgb(141, 140, 140);
}

.sidebar-top-text .sidebar-top-icons{
    margin-right: 1rem;
    color: rgb(75, 75, 75);
}
img#logo{
    margin-bottom: 2rem;
    width: 70%;
    height: 20%;
}



/*  MAIN PAGE
------------>*/
#mainpage section.page>section:nth-of-type(1){
    margin-top:8%;  /*TODO this can be change*/

}
#mainpage section{
    margin-left: 1%;
    margin-top: 3%;  /*TODO this can be change*/
    color:white;
}
/* Main Navbar
-----------> */

#mainpage nav ul li {
    font-size: .8rem;
   
}

#mainpage div.collapse.navbar-collapse{
    position:relative;
    display: flex;
    justify-content: center;
    transform: translateX(-10%);
}

#mainpage button{
    /* TODO Re position collapsable menu button to the RIGHT*/
}

/* Main Cards
---------------> */

#mainpage .card,#artistpage .card{
    background-color: transparent;
    border: none;
   
}
#mainpage .card .section-title, #artistpage .card .section-title{
    font-weight: bold;
}

