@font-face font-family: Gotham;
src: url(assets/Gotham Medium Regular.ttf);
src: url(assets/Gotham Medium Regular.ttf;

.instagram-logo {
  margin-top: 50px;
}
.info {
  font-family: Gotham  !important;
};;;;;
